<% include partials/header %>

    <div class="container">
        <h2 class="text-center">New Note</h2>
        <form action="/notes" method="POST">
            <div id="note-title" class="ui">
                <input type="text" name="note[title]" placeholder="Title..">
            </div>
            <div id="note-body" class="ui">
                <textarea name="note[body]" placeholder="Take a note..."></textarea>
            </div>
            <div id="buttons" class="ui">
                <input type="submit" value="SUBMIT">
                <a href="/notes">cancel</a>
            </div>
        </form>
    </div>

<% include partials/footer %>